h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Arial, Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }

.top-buffer {
	margin-top: 20px;
}
.float-right {
	float: right;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}