<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/flag-icon.css">
<h4>Home</h4>
<div class="profile" *ngIf="profile" class="col-sm-12 col-lg-4">
	<div>
		<label>Email: </label>{{profile.email}}
	</div>
	<div>
		<div>
			<label>Name: {{profile.name}}</label>
		</div>
		<div>
			<label>Native Language: {{profile.nativeLanguage.name}}</label>
		</div>
		<div>
			<div>
				<label>Language Studies: </label>
			</div>
			<div *ngFor="let language of  profile.languages" class="alert studied-lang col-sm-8" (click)="openLanguageBoards(language)">
			   <label>{{language.name}}</label><span class="float-right flag-icon flag-icon-{{language.code}}"></span>
			</div>
		</div>
	</div>
</div>