<h4>{{lang}}</h4>
<div class="row">
	<div class="container col-sm-12 col-lg-4">
		<a class="btn btn-info" routerLink="quiz">Start Quiz!</a>
	</div>
</div>
<add-entry></add-entry>
<div class="row" *ngIf="study">
	<div class="container col-sm-12 col-lg-4 top-buffer">
		<table class="table table-bordered table-condensed table-hover">
			<tbody>
				<tr *ngFor="let pair of study.defaultBoard.vocabulary">
					<td class="col-xs-6">{{pair.logosA}}</td>
					<td class="col-xs-6">{{pair.logosB}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
